ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.block-title {
  border-radius: 0 !important;
}

.slider-opt04__layout01 .media {
  height: 380px !important;
}

.col-third {
  width: 33%;
}

.col-fourth {
  width: 25%;
}

ul.products-list {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

.banner-contain {
  height: auto !important;
}

a.link-to-product img {
  object-fit: cover;
  object-position: center;
}

.nav-menu {
  display: flex;
  flex-flow: row wrap;
  padding: 10px 0;
}

.nav-menu .menu-item {
  margin-right: 15px;
}

.nav-menu .menu-item:hover a {
  color: orange;
}

.nav-menu .menu-item a {
  color: #222222;
}

.none-box-shadow .vertical-category-block > .wrap-menu {
  display: none;
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
  font-size: 16px;
}